---
import BaseLayout from '../../layouts/BaseLayout.astro';
import Header from '../../components/HeaderPages.astro';
import Footer from '../../components/footer.astro';


import { CollectionEntry, getCollection } from "astro:content";

export async function getStaticPaths() {
  const posts = await getCollection("posts");

  return posts.map((post) => ({
    params: { slug: post.slug },
    props: { post },
  }));
}

type Props = {
  post: CollectionEntry<"posts">;
};

const { post } = Astro.props;
const { Content } = await post.render();

const currentUrl = `https://www.israpaucar.com/blog/${post.slug}`;
const shareText = encodeURIComponent(`Mirá este post: ${post.data.title}`);
---
---

<BaseLayout title="Israel Paucar | BLOG" description="Portfolio interactivo de Israel Paucar, artista VFX. Houdini artist, creative coding">
  
  <header><Header page={post.data.title}/></header>
  <main class="flex-1">
    <article class="w-9/10 mx-auto prose dark:prose-invert mx-auto max-w-3xl py-20">
      <div class=" text-5xl font-[800] text-black dark:text-white ">{post.data.title}</div>

      <div class="flex items-center gap-1 sm:gap-4 mt-6 mb-2">
        <img
          src="/assets/icons/me.jpg"
          alt="Israel Paucar"
          class="w-8 h-8 rounded-full object-cover"
        />

        <span class="text-sm text-gray-700 dark:text-gray-300">
          {post.data.author}
        </span>

        <a 
          href="https://www.instagram.com/israelpaucar.vfx/" 
          target="_blank" 
          rel="noopener noreferrer"
          class="px-3 py-1 text-sm text-white bg-gradient-to-r from-blue-500 to-gray-800 rounded-full shadow hover:shadow-lg transition"
        >
          Follow
        </a>

        <p class="text-sm text-gray-500 flex items-center gap-1">
          {new Date(post.data.date).toLocaleDateString('es-ES', {
            year: 'numeric',
            month: 'short',
            day: 'numeric',
          })}  – 
          <span class="text-xs">🕒</span> 
          {post.data["time-read"]} min read
        </p>
      </div>


      <img 
        src={post.data.thumbnail} 
        alt={post.data.title} 
        title={post.data.promt}
        class="mb-6 mt-7  shadow-md w-3/4 mx-auto grid justify-center "
      />


      <p class="w-2/4 mx-auto justify-center text-center font-[200] italic text-xl font-light text-gray-600 mb-6">
        “{post.data.tagline}”
      </p>

      <div class="w-9/10 mx-auto grid justify-center sm:text-lg text-xl markdown prose dark:prose-invert max-w-none mt-6 mb-6">
        <Content />
      </div>
      {post.data.refe && (
        <section class="font-[400] text-sm text-gray-500 mt-10 prose dark:prose-invert mb-6">
          <p class="font-[300] text-size[1rem] text-gray-600">Referencias</p>
          <ul>
            {post.data.refe.map((item) => (
              <li>
                <a href={item.link} target="_blank" rel="noopener noreferrer" class="text-blue-500 hover:underline">
                  {item.author}
                </a>
              </li>
            ))}
          </ul>
        </section>
      )}
      {post.data.tags.map(tag => (
        <span class="mr-2 text-sm px-2 py-1 bg-purple-200 text-purple-800 rounded">{tag}</span>
      ))}

      <footer class="mt-12 border-t pt-6">
        <h2 class="text-xs mb-4">Comparte este post:</h2>
        <div class="flex gap-4">
          <!-- Twitter -->
          <a
            href={`https://twitter.com/intent/tweet?text=${shareText}&url=${currentUrl}`}
            target="_blank"
            rel="noopener noreferrer"
            class="w-10 h-10 hover:scale-110 transition-transform"
          >
            <img src="/assets/icons/x-icon.svg" alt="Compartir en Twitter" class="w-full h-full object-contain" />
          </a>

          <!-- Facebook -->
          <a
            href={`https://www.facebook.com/sharer/sharer.php?u=${currentUrl}`}
            target="_blank"
            rel="noopener noreferrer"
            class="w-10 h-10 hover:scale-110 transition-transform"
          >
            <img src="/assets/icons/facebook.svg" alt="Compartir en Facebook" class="w-full h-full object-contain" />
          </a>

          <!-- WhatsApp -->
          <a
            href={`https://wa.me/?text=${shareText}%20${currentUrl}`}
            target="_blank"
            rel="noopener noreferrer"
            class="w-10 h-10 hover:scale-110 transition-transform"
          >
            <img src="/assets/icons/wsapp.svg" alt="Compartir en WhatsApp" class="w-full h-full object-contain" />
          </a>
        </div>
      </footer>
    </article>
    
  </main>
  <footer><Footer/></footer>

</BaseLayout>

